.cell {
  min-width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  font-size: 50px;
  font-family: helvetica;
}

.cell:hover {
  cursor: default;
}

.cell.clickable:hover {
  cursor: pointer;
  cursor: hand;
}

.cell.highlight {
  color: $gray-darker;
  background-color: $gray-lighter;
}
