.cell {
  min-width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  font-family: helvetica;
  border: 2px solid $gray-darker;
  user-select: none;
}

.cell:first-child {
  border-left: 0;
  border-top: 0;
}

.cell:last-child {
  border-right: 0;
}

.cellrow:first-child > .cell {
  border-top: 0;
}

.cellrow:last-child > .cell {
  border-bottom: 0;
}

.cell:hover {
  cursor: default;
}

.cell.clickable:hover {
  cursor: pointer;
  cursor: hand;
}

.cell.highlight {
  color: $gray-lighter;
}
